/*Common elements across all pages*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

h1{
	text-align: center;
	font-size: 36px;
	font-family: 'Open Sans', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

a {
	text-decoration: underline;
	font-weight: none;
}

a:link {
	color: Black;
}

a:visited { 
    color: #828081;
}

a:hover {
	font-weight: bold;
}

footer{
	text-align: center;
	font-size: 12px;
}

body{
	font-family: 'Open Sans', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: justify;
	font-size: 16px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 10px;
}

hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #828081;
    margin: 1em 0;
    padding: 0;
}